### Sales Analysis

#### Import necessary libraries

In [63]:
import pandas as pd

### Task 1. Read the sales data from year 2019 and merge files into one single file

In [64]:
from glob import glob

sales_files = sorted(glob('Sales_*.csv'))
sales_files

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [65]:
sales = pd.concat(pd.read_csv(file) for file in sales_files)
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Task 2. Cleansing the data. Check for null values

In [66]:
print(sales.shape)
sales.isnull().sum()

(186850, 6)

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [67]:
sales.dropna(inplace=True)

In [68]:
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [69]:
sales.shape

(186305, 6)

#### As we have merged our data we have the headers of each column added to the merged data

In [70]:
sales[sales['Order ID'] == 'Order ID']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3036,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3209,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3618,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4138,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4645,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4794,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
5303,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
6939,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
7497,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8635,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9189,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9329,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9973,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10885,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10958,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11272,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11619,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11742,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11778,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11874,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
12455,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
13362,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
14022,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
14522,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
14860,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
15684,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
15726,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
15832,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
16144,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
16440,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
17025,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
17221,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
17358,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18031,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18071,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18617,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18888,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
20303,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1679,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3732,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3790,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4323,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
5579,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
6204,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8338,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8644,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9325,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9502,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9615,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9954,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10000,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
10387,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11399,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11468,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
11574,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

### this values are garbage values and needs to be removed

In [71]:
index = sales[sales['Order ID'] == 'Order ID'].index
sales = sales.drop(index)
sales[sales['Order ID'] == 'Order ID']
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

### Check the column names. Change the names for easy accesibility

In [72]:
sales.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [73]:
sales.columns = sales.columns.str.replace(' ','_')

In [74]:
sales.head()

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

#### Check fot the dtypes and change where required

In [75]:
sales.dtypes

Order_ID            object
Product             object
Quantity_Ordered    object
Price_Each          object
Order_Date          object
Purchase_Address    object
dtype: object

#### We can convert order id, quantity, price to int and float. Date can be changed to datetime to perform certain analysis

In [78]:
sales[['Order_ID', 'Quantity_Ordered']]  = sales[['Order_ID', 'Quantity_Ordered']].astype(int)

In [79]:
sales['Price_Each'] = pd.to_numeric(sales['Price_Each'])

In [81]:
sales['Order_Date'] = pd.to_datetime(sales['Order_Date'], format = '%m/%d/%y %H:%M')

In [82]:
sales.dtypes

Order_ID                     int64
Product                     object
Quantity_Ordered             int64
Price_Each                 float64
Order_Date          datetime64[ns]
Purchase_Address            object
dtype: object

### Task 3 Import the merged data to csv

In [84]:
sales.to_csv('sales_data.csv',index = False)